@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .side-line {
    @apply w-1 h-full absolute left-0 bg-dark dark:bg-light before:content-[''] before:h-1 before:w-4 before:bg-dark dark:before:bg-light before:absolute before:bottom-0 before:left-[50%] before:translate-x-[-50%] after:content-[''] after:h-1 after:!w-4 after:bg-dark dark:after:bg-light after:top-0 after:left-[50%] after:translate-x-[-50%] after:absolute
  }
  .bg-card {
    @apply relative border border-dark dark:border-light bg-light dark:bg-dark after:content-[''] after:absolute after:left-2 after:top-1 after:bg-dark dark:after:bg-light after:h-[101%] after:w-full after:rounded-xl after:-z-10
  }
  .flex-center {
    @apply flex items-center justify-center
  }
  .other-container {
    @apply bg-light dark:bg-dark flex-center min-h-[79vh] md:min-h-[85vh];
    min-height: ;
  }
}

.loader {
  border-color: #ade8f4 #ade8f4 transparent #ade8f4;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: calc(100px - 15px);
  height: calc(100px - 15px);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.7s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: calc(100px - 30px);
  height: calc(100px - 30px);
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@media (min-width: 576px) {}
@media (min-width: 768px) {
  .main {
    h2 {
      font-size: 2em;
    }
  }
}